:root {
    --main-bg-color: #f9f9f9;
    --em-color: #008060;
    --em-color-red: #CC3434;
}

body {
	display: table;
	font-family: Verdana, fantasy;
	border: 0;
	padding: 0;
	margin: 0;
	border-style: none;
	background-color: var(--main-bg-color);
	color: black;
	width: 100%;
	line-height: 1.5;
}
header{
	padding: 1em;
	display: table-header-group;
    width: 100%;
    height: 100px;
 	color: white;
}

	#user{
		width: auto;
		border-radius: 0 0 0 10px;
		position: fixed;
		font-size: 15px;
		color: white;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		top: 0;
		right: 0;
		border: none;
		background-color: rgba(55,55,55,0.5);
	}
    #user a{
        color: white;
    }
.header{
	padding: 0;
	padding-left: 5%;
}

aside{
    display: inline-block;
}
nav{
	display: table-row-group;
	width: 100%;
	margin-bottom: 0;
}
/*Navigation bar settings*/
	nav ul{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #111111;
	}
	nav ul li {
		float: left;
	}
    nav ul li a{
        color: white;
    }
    nav ul li a:link {
		display: block;
	    background-color: #111111;
	    padding: 3em;
	    padding-top: 1em;
	    padding-bottom: 1em;
	    text-decoration: none;
	    border:0;
	    border-top: 5px;
	    border-bottom: 5px;
	    border-style: solid;
		border-color: #111;
	}
	nav ul li a:visited {
		display: block;
	    background-color: #111111;
	    padding: 3em;
	    padding-top: 1em;
	    padding-bottom: 1em;
	    text-decoration: none;
	    border-top: 5px;
		border-top-color: #111;
		border-style: solid;
		border-bottom-color: #111;
		}
	nav ul li a:hover {
        display: block;
        background-color: #111111;
        color: #008060;
        padding: 3em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-decoration: none;

        border: 0;
        border-top: 5px;
        border-top-color: #111111;
        border-bottom: 5px;
        border-style: solid;
        border-bottom-color: var(--em-color);
    }

/*Available games*/
    #availablegame-list, #notifications-list{
	    list-style-type: none;
    }
    .notification-item{
        display: block;
    }
    #availablegame-list li div{
        display: inline-block;
    }
    .availableGame, .notification-item{
        padding: 20px;
        display: inline-block;
        float: left;
        border: var(--main-bg-color);
    }

    .notification-item{
        display: block;
        float: none;
    }
    .notification-item div{
        display: block;
    }
    .notification-item form{
        display: block;
        margin-right: 30px;
    }
    .availableGame div, .notification-item div, .notification-item a div div, .notification-item div div{
        font-size: 20px;
    }
    .availableGame, .notification-item span, .notification-item a div span, .notification-item div span{
        font-size: 15px;
        font-style: italic;
    }
    #seen{
       display: block;
        float: left;
    }
    .isprivate{
        margin: 3px;
        display: block;
        padding: 20px;
        float: left;

        width: 50px;
    }
    .isprivate img{
        width: 30px;
    }
/* Block aside styles*/
    #gamenav{
        float: left;
        margin-top: 2em;
        padding-right: 2em;

        border-right-width: thin;
        border-right-color: #d7d7d7;
        border-right-style: solid;
    }
    #gamenav ul {
        list-style-type: none;
        padding-left: 20px;
    }
    .gamenawitem{
        margin: 7px;
    }
    .gamenawitem a{
        margin: 3px;
        padding: 7px 25px 7px 25px;
        display: block;
        border: var(--main-bg-color);
        border-radius: 20px;
        border-style: solid;
        border-width: thick;
    }
    .gamenawitem a:hover{
        border: var(--em-color);
        border-radius: 20px;
        border-style: solid;
        border-width: thick;
    }
    #gamenav-gamelist{
        margin-top: 7px;
        padding-top: 7px;
    }
    .gamenawitem span{
        margin: 3px;
        margin-top: 25px;
        padding: 7px 25px 7px 25px;
    }
    #gamenav-newgame a{
        color: var(--em-color-red);
    }
    #gamenav-newgame a:hover{
        border: #CC3434;
        border-radius: 20px;
        border-style: solid;
        border-width: thick;
    }
    #allgames-top-stats {
        position: fixed;
        right: 50px;
    }

form input{
    margin-bottom: 10px;
    height: 2em;
    text-align: center;
    border-radius: 2em;
    border-width: thin;
    border-style: solid;
}
    #login-container, #stats-container{
        margin: auto;
        width: 30%;
        padding: 20px;
        text-align: center;
        border-radius: 40px;
        border-color: lightgray;
        border-width: thin;
        border-style: solid;
    }

    #login-button{
        border-radius: 20px;
        border-width: thin;
        border-style: solid;
        background-color: var(--em-color);
        color: white;
        margin: 5px;
        padding: 5px 25px 5px 25px;
    }

    #lost-password{
        color: var(--em-color-red);
    }
    #lost-password a{
        color: inherit;
    }
    #login-main{
        display: block;
        float: none;
	    padding: 0;
	    margin: 30px 50px 30px 50px;
        width: auto;
    }
#stats-container ul{
    list-style-type: none;
    font-size: large;
}
#activeGame{
    text-align: center;
}

#oldmoves-container{
    padding-left: 50px;
}
#oldmoves-list{
    list-style-type: none;
}
.movepic{
    width: 60px;
}
main{
    display: block;
	padding: 0;
	margin: auto;
    margin-top: 20px;
    margin-left: 20%;
}

.player{
    display: inline-block;
}
#score{
    display: inline-block;
    margin: auto 20px;
    color: var(--em-color-red);
}

a{
	font-weight: bolder;
	color: black;
}
a:active{
	color: #008060;
	text-decoration: #008060;
}
a:hover{
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    nav ul li {
        width: auto;
    }

    main {
        margin: 10px;
    }
}