{% extends "base_gamewindow.html" %}

{% block title %}{{ game.gameName }}{% endblock %}

{% block content %}
    <div id="activeGame">
    {% if passwordRequired %}
        <form method="post" action="{% url 'Active Game' %}">
        {% csrf_token %}
            {% if wrongPassMessageOn %}
                <p>Input password to this game: </p>
            {% endif %}
            <input type="password" name="password" about="Input Password" />
            <input type="submit"/>
        </form>
    {% else %}
        <h2 class="player">{{ game.ownerID.username }} </h2>
        <h1 id="score">{{ game.ownerScore }} : {{ game.secondPlayerScore }} </h1>
        <h2 class="player">{{ game.secondPlayerID.username }}</h2>

        <form method="post">
        {% csrf_token %}
            <button class="move-button" type="submit" name="move" value="r"><img src="../../static/img/rt.png"/></button>
            <button class="move-button" type="submit" name="move" value="s"><img src="../../static/img/st.png"/></button>
            <button class="move-button" type="submit" name="move" value="p"><img src="../../static/img/pt.png"/></button>
            <br/>
            <button id="random-button" type="submit" name="move" value="q">Random</button>
            <button id="giveup-button" type="submit" name="move" value="e">Give Up</button>
        </form>

        <ul id="availablegame-list">
            {% for move in moves %}
            <li>
                <p class="player">{{ game.ownerID.username }} </p>
                    <h1 id="score">
                        <img class="movepic" src="../../static/img/{{ move.ownerMove }}t.png">{% if move.ownerMove == move.move.secondPlayerMove%}
                    =
                {% elif move.ownerMove == "p" %}
                    {% if move.secondPlayerMove == "s" %}
                        <
                    {% else %}
                        >
                    {% endif %}
                {% elif move.ownerMove == "s" %}
                    {% if move.secondPlayerMove == "p" %}
                        >
                    {% else %}
                        >
                    {% endif %}
                {% elif move.secondPlayerMove == "p" %}
                    <
                {% else %}
                    >
                {% endif %}<img class="movepic" src="../../static/img/{{ move.secondPlayerMove }}t.png">
                    </h1>
                <p class="player">{{ game.secondPlayerID.username }}</p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}