{% extends "base_gamewindow.html" %}
{% block title %}All Games{% endblock %}
{% block content %}
    {% if games.count > 0 %}
        <p>Didn't find one? <a href="{% url 'New Game' %}"> New game</a></p>

        <h1>Available Games: {{ allgamesstats.available }}, now playing {{ allgamesstats.inProgress }}</h1>
        <ul id="availablegame-list">
        {% for game in games %}
            <li>
            {% if game.isPublic %}
                <div class="isprivate"></div>
            {% else %}
                <div class="isprivate"><img src="../../static/img/private.png" /></div>
            {% endif %}
                <div>
                <a class="availableGame" href="{% url 'Join Game' %}?id={{ game.id }}">
                <div>{{ game.gameName }}</div> <br/>
                <span>{{ game.ownerID.username }}</span>
                </a>

            </div></li>
        {% endfor %}
        </ul>
    {% else %}
         <p>No games available! <a href="{% url 'New Game' %}"> New game</a></p>
    {% endif %}

{% endblock %}
