{% extends "base_gamewindow.html" %}
{% block title %}All Games{% endblock %}
{% block content %}
    {% if games.count > 0 %}
        <p>Didn't find one? <a href="{% url 'New Game' %}"> New game</a></p>

        <h1>Available Games: {{ allgamesstats.available }}, now playing {{ allgamesstats.inProgress }}</h1>
        <ul>
        {% for game in games %}
            <li><a href="{% url 'Join Game' %}?id={{ game.id }}"><div class="availableGame">{{ game.gameName }} -- <i>{{ game.ownerID.username }}</i></div></a></li>
        {% endfor %}
        </ul>
    {% else %}
         <p>No games available! <a href="{% url 'New Game' %}"> New game</a></p>
    {% endif %}

{% endblock %}
