{% extends "login_generic.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Welcome, {{ request.user.get_username }}</h1>
    <div id="aboutuser">
        <div>
            <hr>
            Joined on {{ request.user.date_joined }}<br>
            Last login on {{ request.user.last_login }}<br>
            Goto <a href="{% url 'Games Stats' %}">my statistics </a>
        </div>
    </div>
    <div>
        {% if var > 0 %}
            <h1>New events: {{ var }}</h1>
            <ul id="notifications-list">
            {% for noti in notify %}
                <li class="notification-item">
                    <form method="post" id="seen">
                    {% csrf_token %}
                        <button id="login-button" name="close" type="submit" value={{ noti.id }}>OK</button>
                    </form>

                    {% if noti.notificationType == 'm' %}
                        <a href="{% url 'Join Game' %}?id={{ noti.gameID.id }}">
                            <div ><div>{{ noti.gameID.gameName }}</div>
                                <span>New move has been made</span></div></a>
                    {% else %}
                        <div ><div>{{ noti.gameID.gameName }}</div>
                                <span>Your opponent finished this game</span></div>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No new messages! <a href="{% url 'New Game' %}"> New game</a></p>
        {% endif %}
    </div>
{% endblock %}